.cart-container{
    display: grid;
    grid-template-areas: 
        "title buttons"
        "items buttons";
    grid-template-rows: 60px 1fr;
    padding: 20px;
    gap: 20px;
    justify-items: center;
    height: auto;
}

.products-title{
    grid-area: title;
    align-self: start;
    font-weight: lighter;
    font-size: 2.2rem;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ffffff;
    width: 100%;
}

.cart-container article{
    grid-column: 1;
    justify-self: end;
}
.cart-empty{
    grid-column: 1 / span 2;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 4rem;
}
.btn-container {
    grid-area: buttons;
    background-color: #fff;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
}
.btn-container .btn {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    background-color: #e8d7c2;
    color: #000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-back {
    grid-column: span 2;
    grid-row: 4;
    width: 40%;
    padding: 10px 5px;
    font-size: 1rem;
    background-color: #e8d7c2;
    color: #000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-container .btn:hover, .product-info .btn:hover, .cart-container .btn-back:hover {
    background-color: #d4b483;
}

.total-pagar {
    width: 100%;
    font-size: 1.2rem;
    text-align: start;
}
.cart-container .product-info {
    height: fit-content !important;
}

.btn-delete{
    width: 200px;
}