.productPage-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 40px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 2rem 4rem;

}

.productPage-title-container {
    grid-area: 1 / 1 / 2 / 3;
    text-transform: capitalize;
}

.productPage-filters-container {
    grid-area: 2 / 1 / 3 / 2;
}

.productPage-products-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.productPage-products-container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.productPage-products-container div>div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
}

.productPage-pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.productPage-pagination-container button {
    height: 2rem;
    width: 2.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.productPage-container .product-info button:hover {
    filter: brightness(.9);
}

@media (width < 480px) {
    .productPage-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 1rem;

    }

    .productPage-title-container {
        grid-area: null;
        display: inline;
        text-transform: capitalize;
        font-size: 2rem;
        border-bottom: 1px solid #ccc;
        flex: 1;
    }

    .productPage-filters-container {
        grid-area: null;
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    .productPage-products-container {
        grid-area: null;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        gap: 2rem;
    }

    .productPage-products-container>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;
    }

    .productPage-products-container div>a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .productPage-products-container div .item-list-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-start;
        gap: 0;
        row-gap: 1.5rem;
        align-items: flex-start;
    }

    .productPage-products-container div .item-list-container .product-item {
        height: 350px;
        width: 90%;
    }

    .productPage-pagination-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .productPage-pagination-container button {
        height: 2rem;
        width: 2.5rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .productPage-container .product-info button:hover {
        filter: brightness(.9);
    }
}

@media (width < 1024px) {
    .productPage-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 1rem;

    }

    .productPage-title-container {
        grid-area: null;
        display: inline;
        text-transform: capitalize;
        font-size: 2rem;
        border-bottom: 1px solid #ccc;
        flex: 1;
    }

    .productPage-filters-container {
        grid-area: null;
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    .productPage-products-container {
        grid-area: null;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        gap: 2rem;
    }

    .productPage-products-container>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;
    }

    .productPage-products-container div>a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .productPage-products-container div .item-list-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: flex-start;
        gap: 1rem;
        row-gap: 1.5rem;
        padding: 1rem;
        align-items: flex-start;
    }

    .productPage-products-container div .item-list-container .product-item {
        height: 350px;
        width: 100%;
    }

    .productPage-pagination-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .productPage-pagination-container button {
        height: 2rem;
        width: 2.5rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .productPage-container .product-info button:hover {
        filter: brightness(.9);
    }
}