.productPage-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 40px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 2rem 4rem;

}

.productPage-title-container {
    grid-area: 1 / 1 / 2 / 3;
    text-transform: capitalize;
}

.productPage-filters-container {
    grid-area: 2 / 1 / 3 / 2;
}

.productPage-products-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.productPage-products-container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.productPage-products-container div>div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
}

.productPage-pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.productPage-pagination-container button {
    height: 2rem;
    width: 2.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.productPage-container .product-info button:hover {
    filter: brightness(.9);
}