.detail-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.detail-product .product-img-container {
  height: 100%;
  width: 100%;
  border-bottom: none;
  border-right: #d1d1d3 solid 1px;
  padding: 10px;
  user-select: none;
}

.detail-product .product-img {
  height: auto;
  width: 100%;
  user-select: none;
}

.detail-product .product-item {
  width: 100%;
  flex-direction: row;
  height: fit-content;
}

.detail-product .product-info {
  height: initial;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 40px;
}

.detail-product .product-title {
  font-size: 3rem;
}

.detail-product .product-descripcion {
  display: block;
  font-size: 18px;
  max-width: fit-content;
  word-wrap: break-word;
  overflow: visible;
}

.detail-product .product-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.product-button-container .count-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.product-button-container .count-container .btn-add {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: #e8d7c2;
  padding: 0 10px;
}

.product-button-container .count-container .count-buttons .btn {
  cursor: pointer;
  height: 4vh;
  width: 30px;
  border: none;
  background: #e8d7c2;
}