.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 120px;
    background: #d1d1d3;
    width: 100%;
}
.count-container{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end;
    margin-top: 20px;
}
.count-container .count-buttons .btn{
    cursor: pointer;
    height: 4vh;
    width: 30px;
    border-radius: 10px;
    border: none;
    background: #e8d7c2;
}
.count-container .btn-add{
    cursor: pointer;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background: #e8d7c2;
    padding: 0 10px;
}
.products-detail-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
}
.products-title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #333;
}
.products-carousel-container {
    width: 90vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.products-carousel-container::after{
    content: "";
    top: 0;
    right: 0;
    box-shadow: 1px 1px 12px 5px #7d7d7d;
    position:sticky;
}

/* Ajuste de los productos dentro del carrusel */
.products-carousel-container > * {
    flex: 0 0 auto; /* para que no se encojan */
    width: 220px; /* o el ancho de tus cards */
}