.container{
  scroll-margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  width: 500px;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 5px;
  font-size: 3rem;
  margin: 1rem 2rem 2rem;
}

.container h1::first-letter {
  text-transform: uppercase;
  font-size: 4rem;
}