/*.section-products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px 100px;
}
.section-product-title{
    grid-column:1/6;
}
*/
.container{
  scroll-margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  width: 500px;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 5px;
  font-size: 3rem;
  margin: 1rem 2rem 2rem;
}

.container h1::first-letter {
  text-transform: uppercase;
  font-size: 4rem;
}