.product-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px #d1d1d3;
    list-style-type: none;
    width: 250px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.product-item:hover {
    box-shadow: 2px 2px 10px 8px #d1d1d3;
}

.product-item:first-child {
    margin-left: 0;
}

.product-item:last-child {
    margin-right: 0;
}

.product-img-container {
    height: 50%;
    border-bottom: #d1d1d3 solid 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product-info {
    height: 50%;
    width: 100%;
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 20px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover {
    text-decoration: underline;
}

.product-title {
    font-size: 20px;
    max-width: fit-content;
    word-wrap: break-word;
}

.product-descripcion {
    font-size: 18px;
    max-width: fit-content;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.product-precio {
    font-size: 1.5rem;
}

.product-info button:hover {
    filter: brightness(.9);
}