.product-item{
    display: flex;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    overflow: hidden;
}
.product-item:first-child{
    margin-left: 0;
}
.product-item:last-child{
    margin-right: 0;
}
.product-img-container{
    height: 50%;
    border-bottom: #d1d1d3 solid 1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.product-img{
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.product-info{
    height: 50%;
    width: 100%;
    color:rgb(15, 15, 15);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.product-link{
    text-decoration: none;
    color: inherit;
}
.product-link:hover{
    text-decoration: underline;
}
.product-titulo{
    font-size: 18px;
    max-width: 30ch;
    word-wrap: break-word;
}
.product-descripcion{
    font-size: 18px;
    max-width: 20ch;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.product-precio{
    font-size: 30px;
}
.product-info button{
    cursor: pointer;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background: #e8d7c2;
}
.product-info button:hover{
    filter: brightness(.9);
}