.section-favorite {
    width: 100%;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.favorite-title {
    font-size: 2rem;
    font-weight: 500;
}

.favorite-cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.favorite-cards-container .product-item {
    height: fit-content;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.favorite-cards-container .item-remove-btn {
    width: 20%;
    border: none;
    padding: .5rem 0;
}

.favorite-cards-container a {
    text-decoration: none;
}

@media (width < 480px) {
    .section-favorite {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .favorite-title {
        font-size: 2rem;
        font-weight: 500;
    }

    .favorite-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .favorite-cards-container .product-item {
        height: fit-content;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .favorite-cards-container .item-remove-btn {
        width: 100%;
        border: none;
        padding: .5rem 0;
    }

    .favorite-cards-container a {
        text-decoration: none;
    }

}