/* Estilos para el componente CategoriesNav */

.categories-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.categories-list {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-list-item {
   
}
.categories-list-item > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.list-item-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
}

.list-item-btn:hover {
    transform: scale(1.1);
}

.list-item-img {
    background: #ffffff;
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #D1D1D3;
    transition: border-color 0.2s ease;
}

.list-item-img:hover {
    border-color: #909090;
}
