.hero-container {
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hero-wrapper {
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    position: fixed;
}

.hero-logo-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.hero-logo {
    width: 100%;
    height: 50px;
}

@media (width < 480px) {
    .hero-logo-container {
        width: 100%;
        padding: 1rem 3rem;
        position: absolute;
        left: 50%;
        top: 50%;
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    .hero-wrapper {
        padding: 0 10px;
    }

    .hero-navbar-container {
        width: 100%;
    }
}