.hero-container{
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.hero-wrapper{
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    position: fixed;
}
.hero-logo-container{
    display: flex;
    align-items: center;
    padding: 20px;
}
.hero-logo{
    height: 50px;
}
.hero-searchbar-container{
    flex: 1;
    padding: 0 1rem;
}
.searchbar{
    width: 100%;
    border: none;
    background: #fff;
    border: 3px solid #f6f6f6;
    padding: 5px 10px;
    border-radius: 10px;
}
.searchbar:focus{
    outline: none;
}