.aside-filters-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.filters-title {
    font-size: 1rem;
}

.filters-item {
    list-style-type: none;
    display: flex;
    gap: .3rem;
}

.filters-menu {
    display: none;
}

.filters-menu-btn-close {
    display: none;
}

@media (width < 480px) {
    .filters-menu {
        display: flex;
        justify-content: flex-start;
    }

    .filters-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .filters-menu-btn-title {
        font-size: 1rem;
    }

    .filters-options-container {
        display: none;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        gap: 1rem;
        z-index: 100;
        background: #292929;
        color: #fff;
        padding: 1rem 2rem;
        left: 0;
        width: 100%;
        height: 50%;
        bottom: 0;
    }

    .open-filters {
        display: grid;
    }

    .filters-menu-btn-close {
        display: flex;
        background: none;
        border: none;
        justify-content: center;
        align-items: center;
        filter: invert();
    }

    .filters-close-icon {
        width: 100%;
        height: 2rem;
    }

    .aside-filters-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .filters-options-header {
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filters-options-title {
        font-size: 1rem;
    }

    .filters-container {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .filters-title {
        font-size: 1rem;
    }

    .filters-item {
        list-style-type: none;
        display: flex;
        gap: .5rem;
    }

    .filter-option-checkbox {
        width: 1rem;
        height: 1rem;
    }
}