.login-form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #fff;
    padding: 50px 0;
    align-items: center;
    gap: 30px;
}

form div{
    display: flex;
    flex-direction: column;
    width: 60%;
}
form div label{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.form-input{
    height: 40px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #e6d3bb;
    padding: 5px 10px;
    font-size: 1rem;
}
.form-input:active, .form-input:focus{
    outline: none;
}
form button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login-logo-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-logo{
    width: 100%;
}