*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Nunito", sans-serif;
    
}
body{
  background: #D9D9D9;
}


/* <weight>: Use a value from 200 to 1000
   <uniquifier>: Use a unique and descriptive class name
*/
.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/*Controlo la forma de verse la descripción en las vistas de item e itemListContainer*/
/* vista Item */
.product-descripcion {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

/* vista ItemDetailContainer */
.detail-container .product-item{
  width: 100% !important;
  flex-direction: row !important;
  height: fit-content !important;
}
.detail-container .product-img-container{
  height: 100% !important;
  width: 100% !important;
  border-bottom: none !important;
  border-right: #d1d1d3 solid 1px !important;
  padding: 10px !important;
}
.detail-container .product-img{
  height: auto !important;
  width: 100% !important;
}
.detail-container .product-info{
  height: initial !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding: 20px 40px !important;
}

.detail-container .product-title{
  font-size: 3rem !important;
}
.detail-container .product-descripcion{
  display: block;
  font-size: 18px;
  max-width: fit-content;
  word-wrap: break-word;
  overflow: visible;
}

.detail-container .item-detail-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Vista pantalla Cart */
.cart-container .product-item{
  flex-direction: row !important;
  width: 100% !important;
  height: initial !important;
  align-items: center !important;
}

.cart-container .product-img-container{
  height: 100% !important;
  width: 300px !important;
  border-bottom: none !important;
  padding: 10px !important;
  align-items: center !important;
}