.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.nav-list-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    padding: 0;
}

.nav-list-desktop-container {
    display: flex;
    align-items: center;
}

.nav-list-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.nav-list-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 15px;
    background: #e6d3bb;
    transition: .5s ease-out;
}

.nav-list-item,
.nav-list-item a {
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-list-item:hover::before {
    width: 100%;
}

.login-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.list-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.in-cart {
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: #e6d3bb;
    cursor: pointer;
}

.nav-list-searchbar {
    padding: 0 10px;
    list-style-type: none;
}

.searchbar-result-container {
    transform: translateX(-45%);
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
    background-color: #D9D9D9;
}

.searchbar-container {
    flex: 1;
    display: flex;
    width: 100%;
    border: none;
    background: #fff;
    border: 1px solid #cecece;
    padding: 5px 10px;
    border-radius: 10px;
}

.searchbar {
    border: none;
}

.searchbar:focus {
    outline: none;
}

.menu-container {
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

@media (width < 480px) {
    .nav-list-container {
        width: 100%;
        justify-content: flex-end;
        margin: 0;
    }

    .nav-list-item {
        padding: 0 .3rem;
    }

    .user-icon-container,
    .favorite-icon-container {
        display: none;
    }

    .menu-container {
        display: flex;
        margin-right: auto;
        z-index: 88;
    }

    .menu-container:hover::before {
        content: "";
        display: none;
    }

    .menu-darkmode {
        background-color: #fff;
        filter: invert();
    }

    .nav-list-mobile .list-icon {
        width: 2rem;
        height: 2rem;
    }

    .nav-list-desktop-container {
        display: flex;
        flex-direction: column;
        padding: 100px 1.5rem;
        background: #000;
        height: 100%;
        width: 50%;
        position: fixed;
        left: 0;
        top: 0;
        gap: 20px;
        transform: translateX(-100%);
        transition: transform 0.35s ease-in-out;
    }

    .nav-list-desktop-container.open {
        transform: translateX(0);
    }

    .nav-list-desktop {
        height: 10%;
        width: 100%;
        justify-content: flex-start;
    }

    .nav-list-desktop-container .nav-list-desktop a {
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-list-searchbar {
        height: 7%;
        order: -1;
        padding: 0;
    }

    .searchbar-container {
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 0;
        overflow: hidden;
        padding: 4px 10px;
        position: relative;
    }

    .searchbar {
        height: 100%;
        width: 9rem;
    }

    .searchbar::placeholder {
        font-size: 1rem;
    }

    .searchbar-container img {
        height: 80%;
        width: auto;
    }



    .favorite-icon-container {
        order: 2;
    }

    .carrito-icon-container {
        order: 1;
    }
}