.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.nav-list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    padding: 0;
}
.nav-list-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
}
.nav-list-item::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 15px;
    background: #e6d3bb;
    transition: .5s ease-out;
}
.nav-list-item, .nav-list-item a{
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-list-item:hover::before{
    width: 100%;
}
.login-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.login-icon{
    font-size: 25px;
    color: black;
    cursor: pointer;
}