.item-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.item-list-container a{
    text-decoration: none;
    color: inherit;
}

.item-list-container h2{
    margin: 0 !important;
    text-align: start !important;
}