.banner-container {
    width: 100%;
    height: 92vh;
    position: relative;
    display: flex;
    align-items: center;
    
}

.banner-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.banner-bg {
    width: 100%;
    height: 600px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(50px);
    transform: scale(1.1);
}

.banner-image {
    position: relative;
    z-index: 1;
    height: 100%;
    display: block;
}

.banner-text-container {
    width: 400px;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
    color: #ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.banner-title {
    font-size: 25px;
}
.banner-description {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
}
.banner-btn{
    width: fit-content;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    cursor: pointer;
}
.banner-btn:hover{
    background-color: #ff6e61c1;
}